@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/app-assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/app-assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}

:root {
  --ui-primary: var(--ui-color-primary-600);
  --ui-bg: color-mix(in oklab, var(--ui-color-neutral-50) 40%, #FFFFFF);
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-dimmed: color-mix(in oklab, var(--ui-color-neutral-400) 40%, #808080);
  --ui-text-muted: color-mix(in oklab, var(--ui-color-neutral-500) 40%, #808080);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-border: var(--ui-color-neutral-200);
}

.dark {
  --ui-primary: var(--ui-color-primary-500);
  --ui-bg: var(--ui-color-neutral-950);
  --ui-text-highlighted:var(--ui-color-neutral-50);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-bg-elevated: var(--ui-color-neutral-800);
  --ui-border: color-mix(in oklab, var(--ui-color-neutral-700) 50%, transparent);
}

@layer utilities {
  .text-primary {
    color: var(--color-shawdy-brand-650);
  }

  .dark .text-primary {
    color: var(--color-shawdy-brand-500);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@theme static {
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --color-shawdy-brand-50: #f7ffeb;
  --color-shawdy-brand-100: #f0ffd6;
  --color-shawdy-brand-200: #e0ffad;
  --color-shawdy-brand-300: #d3ff8a;
  --color-shawdy-brand-400: #c3ff61;
  --color-shawdy-brand-500: #b4ff39;
  --color-shawdy-brand-600: #88dc00;
  --color-shawdy-brand-650: #7fcd00;
  --color-shawdy-brand-700: #75bd00;
  --color-shawdy-brand-800: #4c7a00;
  --color-shawdy-brand-900: #263d00;
  --color-shawdy-brand-950: #131f00;

  --color-shawdy-neutral-50: #f0f4f1;
  --color-shawdy-neutral-100: #e2e9e3;
  --color-shawdy-neutral-200: #c4d4c7;
  --color-shawdy-neutral-300: #a4bca8;
  --color-shawdy-neutral-400: #87a68c;
  --color-shawdy-neutral-500: #6a9070;
  --color-shawdy-neutral-600: #55725a;
  --color-shawdy-neutral-700: #3d5240;
  --color-shawdy-neutral-800: #273529;
  --color-shawdy-neutral-900: #111712;
  --color-shawdy-neutral-950: #090c09;

  --color-shawdy-success-50: #cdffe5;
  --color-shawdy-success-100: #88ffc8;
  --color-shawdy-success-200: #18eba5;
  --color-shawdy-success-300: #14d293;
  --color-shawdy-success-400: #10b981;
  --color-shawdy-success-500: #0b996a;
  --color-shawdy-success-600: #077a54;
  --color-shawdy-success-700: #04593c;
  --color-shawdy-success-800: #023d28;
  --color-shawdy-success-900: #012315;
  --color-shawdy-success-950: #00180d;

  --color-shawdy-info-50: #ebf5ff;
  --color-shawdy-info-100: #d2e8ff;
  --color-shawdy-info-200: #9ed2fe;
  --color-shawdy-info-300: #55bcfe;
  --color-shawdy-info-400: #0ea5e9;
  --color-shawdy-info-500: #0987bf;
  --color-shawdy-info-600: #066c9b;
  --color-shawdy-info-700: #035074;
  --color-shawdy-info-800: #013650;
  --color-shawdy-info-900: #012031;
  --color-shawdy-info-950: #00131f;

  --color-shawdy-warning-50: #fff8f0;
  --color-shawdy-warning-100: #ffeed8;
  --color-shawdy-warning-200: #ffdeaa;
  --color-shawdy-warning-300: #ffd07a;
  --color-shawdy-warning-400: #fbc009;
  --color-shawdy-warning-500: #eab308;
  --color-shawdy-warning-600: #b98d05;
  --color-shawdy-warning-700: #8a6802;
  --color-shawdy-warning-800: #5a4301;
  --color-shawdy-warning-900: #322400;
  --color-shawdy-warning-950: #201600;

  --color-shawdy-error-50: #fde9eb;
  --color-shawdy-error-100: #fbd7da;
  --color-shawdy-error-200: #f8adb4;
  --color-shawdy-error-300: #f67f8c;
  --color-shawdy-error-400: #f43f5e;
  --color-shawdy-error-500: #d02647;
  --color-shawdy-error-600: #a91c38;
  --color-shawdy-error-700: #83142a;
  --color-shawdy-error-800: #5f0b1c;
  --color-shawdy-error-900: #39040d;
  --color-shawdy-error-950: #2a0208;
}
