SERVER_NAME=http://localhost
DEFAULT_URI=http://localhost

DATABASE_NAME=shawdy_app
DATABASE_USER=shawdy
DATABASE_PASSWORD=dev_only_password
DATABASE_ROOT_PASSWORD=dev_only_root_password

APP_SECRET=dev_only_do_not_use_in_production

MAILER_DSN=smtp://mailpit:1025

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$}'

MAIL_FROM=noreply@shawdy.de
ABUSE_REPORT_RECIPIENT=contact@shawdy.de
