{
    skip_install_trust

    frankenphp
}

{$SERVER_NAME:localhost} {
    root * /app/public

    @apiProd {
        path /api/*
        expression {env.APP_ENV} == "prod"
    }

    @apiDev {
        path /api/*
        expression {env.APP_ENV} == "dev"
    }

    @isDev expression {env.APP_ENV} == "dev"
    @isProd expression {env.APP_ENV} == "prod"

    encode zstd br gzip

    # Use worker mode in production
    handle @apiProd {
        php_server {
            worker /app/public/index.php
        }
    }

    # Use standard mode in development
    handle @apiDev {
        php_server
    }

    # Serve Symfony static files
    handle /assets/* {
        file_server
    }

    # Re-route to Vite in development
    handle @isDev {
        reverse_proxy node:5173
    }

    # Serve Vue.js static files in production
    handle @isProd {
        root * /app/dist
        try_files {path} /index.html
        file_server
    }
}

# Internal HTTPS-Endpoint for Vite-reverse_proxy
http://frankenphp:8080 {
    tls internal

    root * /app/public
    encode zstd br gzip

    php_server
}