{
    skip_install_trust

    frankenphp
}

(app_routes) {
    encode zstd br gzip

    @health {
        path /healthz
    }

    handle @health {
        respond "OK" 200
    }

    @backend {
        path \ 
            /api \
            /api/* \
            /_wdt \
            /_wdt/* \
            /_profiler \
            /_profiler/*
    }

    handle @backend {
        root * /app/public

        php_server {
            worker /app/public/index.php
        }
    }

    @static {
        path \
            /assets \
            /assets/*
    }

    handle @static {
        root * /app/public

        file_server
    }

    # Route everything but the backend and static files to Nuxt
    
    handle {
        reverse_proxy node:3000
    }
}
# Public Endpoint
# Dev:  SERVER_NAME=http://localhost
# Prod: SERVER_NAME=https://shawdy.de

{$SERVER_NAME:http:localhost} {
    import app_routes
}

# Endpoint for communication inside the Docker network
# HTTP only

:8080 {
    import app_routes
}
